@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css';

body {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

h2,
input {
  margin-bottom: 1rem;
}

label,
li {
  margin-top: 0.5rem;
}
